<ul class="topcoat-list">
  <li class="topcoat-list__item">
    <b>Monroe County Clerk</b> <br />
    <p>
      39 W Main St #101, Rochester, NY 14614 <br />
      (585) 753-1600 <br />
      www.monroecounty.gov/clerk-index.php
    </p>
  </li>
  <li class="topcoat-list__item">
    <b>Buffalo SBA</b> <br />
    <p>
      130 S. Elmwood Avenue Suite 540
      Buffalo, NY 14202 <br />
      (585) 753-1600 <br />
      j.mp/BuffaloSBA
    </p>
  </li>
  <li class="topcoat-list__item">
    <b>Rochester Business Alliance</b> <br />
    <p>
      150 State St #400, Rochester, NY 14614 <br />
      (585) 244-1800 <br />
      www.rochesterbusinessalliance.com
    </p>
  </li>
  <li class="topcoat-list__item">
    <b>Brighton Chamber of Commerce</b> <br />
    <p>
      2604 Elmwood Ave, Rochester, NY 14618 <br />
      (585) 251-3587 <br />
      www.brightonchamber.org
    </p>
  </li>
  <li class="topcoat-list__item">
    <b>Greece Chamber of Commerce</b> <br />
    <p>
      2402 Ridge Rd W, Greece, NY 14626 <br />
      (585) 227-7272 <br />
      www.greecechamber.org
    </p>
  </li>
  <li class="topcoat-list__item">
    <b>Penfield Chamber of Commerce</b> <br />
    <p>
      (585) 234-1541 <br />
      www.penfieldchamber.org
    </p>
  </li>
  <li class="topcoat-list__item">
    <b>East Rochester Chamber of Commerce</b> <br />
    <p>
      PO Box 87, East Commercial Street,
      East Rochester, NY 14445 <br />
      (585) 234-2576
      <br />
      www.erchamber.org
    </p>
  </li>
</ul>
